*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
header{
display: flex;
    border: solid blue;

   justify-content: space-between;
}
.link{
    
    font-size: 30px;
    border: red solid;
    
    
}
.logo{ border: rgb(9, 255, 0) solid;
}