
body {
   
    box-sizing: border-box;
    background: rgb(199, 240, 199);
    border: solid rgb(35, 128, 0);
    height: 100vh;
    padding: 15px;
    
}
.header{
    height: 10%;
    background: #add8e6;
    border: solid #2000ff 5px;
    padding: 15px;
    display: flex;
justify-content: space-around;
gap: 20px;

}
.item {
    flex: 1;
    height: 90%;
    background: #000000;
    border:red solid;
    align-items: center;
    align-content: center;

    
}
.main{
    display: flex;
    border: red solid;
    height: 80%;
position: relative;
align-items: center;

}
.center{
    position: absolute;
    height: 80%;
    width: 50%;
    background: #000;
    
    
}
.splitcenter{
    height: 20%;
    background: #000;
    width: 50%; 
    border: red solid;
    position: absolute;
}
.uno{
    left: 400px;
    top: 60px;
}
.due{
    bottom: 56px;
    left: 400px;
}